<div class="form-group">
  <label>Grado</label>
  <select [(ngModel)]="filters.grado" class="form-control">
    <option value="">Todos</option>
    <option *ngFor="let g of gradeList" [value]="g">{{ g }}°</option>
  </select>
</div>

<div class="form-group">
  <label>Grupo</label>
  <select [(ngModel)]="filters.grupo" class="form-control">
    <option value="">Todos</option>
    <option *ngFor="let g of groupList" [value]="g">{{ g }}</option>
  </select>
</div>

<div class="form-group">
  <label>Turno</label>
  <select [(ngModel)]="filters.turno" class="form-control">
    <option value="">Todos</option>
    <option *ngFor="let t of shiftList" [value]="t">{{ t }}</option>
  </select>
</div>

<div class="form-group">
  <label>Especialidad</label>
  <select [(ngModel)]="filters.especialidad" class="form-control">
    <option value="">Todas</option>
    <option *ngFor="let e of specialtyList" [value]="e">{{ e }}</option>
  </select>
</div>


<div class="modal-actions">
    <button class="btn btn-outline" (click)="limpiarFormulario()">
        <i class="fas fa-eraser"></i> Limpiar
    </button>
    <button class="btn btn-primary" (click)="aplicarFiltros()">
        <i class="fas fa-check"></i> Aplicar Filtros
    </button>
</div>