<div class="dashboard-container">
  <div class="dashboard-header">
    <h1><i class="fas fa-users list-icon"></i> Mis Hijos</h1>
    <p>Consulta la información relacionada a tus hijos.</p>
  </div>

  <!-- Cards de hijos -->
  <div class="card">

    <!-- Grid de cards -->
    <div class="children-cards-grid">
      <!-- Card de cada hijo -->
      <div *ngFor="let child of allChildren" class="child-card">
        <div class="card-header">
          <div class="student-info">
            <h3 class="student-name">{{ child.firstName }} {{child.firstSurname}} {{child.secondSurname}}</h3>
          </div>
        </div>

        <div class="card-body">
          <div class="student-avatar">
            <div class="avatar-placeholder">
              <i class="fas fa-user-graduate"></i>
            </div>
          </div>
          
          <div class="student-info">
            <div class="student-grade">
              <strong>No. Control:</strong> {{ child.controlNumber }}
            </div>
            
            <div class="student-grade">
              <strong>Grupo:</strong>{{ child.group?.grade }}° {{ child.group.name }}
            </div>
            <div class="student-grade">
              <strong>Especialidad:</strong>{{ child.group?.specialty }}
            </div>
            <div class="student-grade">
              <p><strong>CURP:</strong></p>
              {{ child.curp }}
            </div>
            
          </div>
        </div>

        <div class="card-footer">          
          <div class="card-actions">
            <button style="background-color: #0997CB; color: white; border: none; padding: 0.5rem; border-radius: 0.375rem; cursor: pointer; transition: all 0.2s;" class="btn btn-sm btn-medical" (click)="openMedicalInfo(child)" title="Información Médica">
              <i class="fas fa-stethoscope"></i>
            </button>
            <button style="background-color: #0997CB; color: white; border: none; padding: 0.5rem; border-radius: 0.375rem; cursor: pointer; transition: all 0.2s;" class="btn btn-sm btn-incidences" (click)="viewIncidences(child)" title="Ver Incidencias">
              <i class="fas fa-list"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Estados: Error, Vacío, Cargando -->
    <div *ngIf="hasError" class="state-container error-state">
      <div class="error-icon"><img src="/img/error.svg" alt="Error" /></div>
      <h3>Error</h3>
      <p>{{ errorMessage }}</p>
      <a (click)="reloadData()" class="link-retry" href="javascript:void(0)">Reintentar</a>
    </div>

    <div *ngIf="isEmpty" class="state-container empty-state">
       <div class="empty-icon">
                  <div class="error-icon">
                    <img src="/img/noData.svg" alt="Sin datos" />
                  </div>
                </div>
      <h3>No hay hijos registrados</h3>
      <p>No se encontraron hijos asociados a tu cuenta.</p>
    </div>

    <div *ngIf="isLoading" class="state-container loading-state">
      <div class="spinner"></div>
      <p>Cargando información...</p>
    </div>
  </div>
</div>
